$colorText: darkgreen;
$background-color-Global: #fff38e;
$borderColor: orange;

@mixin textStyle {
  font-family: Comic, 'Comic Sans', 'Bradley Hand', 'Brush Script MT', 'Brush Script Std','Snell Roundhand', 'URW Chancery L', cursive;
  font-style: oblique;
}
@mixin LoginSignUp {
  .form{
    display: flex;
    flex-direction: column;
    @include textStyle;
    
    & label{
      color: $colorText;
      margin: 3px;
      padding: 4px;
      display: flex;
      justify-content: space-between;
    }
    & input{
    color: $colorText;
    outline: none;
    border: none;
    background-color: rgba($color: #000000, $alpha:0);
    border-bottom: 1px $borderColor solid;
    @include textStyle;
    width: 100%;
    }
    & input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }
    
    & button{
    outline: none;
    border: 1px $borderColor solid;
    border-radius: 6px;
    background-color: rgba($color: #000000, $alpha:0);
    color: $colorText;
    @include textStyle;
    font-size: 16px;
    }
    & .error{
      justify-content: center;
      margin:  9px auto;
      color: $colorText;
    }
  } 
}

