@import '../../globalStyles/global';
@include inputAutocomplete;

.home{
  background-image: url("./l4.png");
  background-repeat: no-repeat;
  background-position: 75%;
  background-color:$background-color-Global;
  height: 100vh;
}

.login{  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 139px;
  padding: 118px 42px;
  width: 250px;
  & a {
    margin-bottom: 35px;
    @include textStyle;
    color: $colorText;
    font-size: larger;
  }
}

.goBack{
   @include button;
   position: absolute;
   top:20px;
   left: 20px;
}
